<div class="item ">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h2>HOPE Youth Corp</h2> <p>Two of our teen volunteered with <b>HOPE</b> Youth Corps in America over the summer. Read about their adventures in Texas & Philadelphia. <a class="btn btn-primary btn-small" href="/pages/work/youthcorp/">Learn more &raquo;</a></p>
                    <p><br /></p></td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/4_hope_yc.png" alt="">
                  </td></tr>
                </table>
                <!--
                <div class="carousel-caption">
                  <h4>After we came back from HOPE Youth Corp</h4>
                </div>
              -->
              </div><!--end item-->