<div class="item ">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h2>Global Outreach</h2> <p>Our work across the world  touches lives beyond our native land. Read about our various projects and initiatives happening around the world. <a class="btn btn-primary btn-small" href="/pages/work/international/">Learn more &raquo;</a></p>
                    <p></p></td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/3_global.jpg" alt="">
                  </td></tr>
                </table>
                <!--
                <div class="carousel-caption">
                  <h4>Medical equipment donation</h4>
                </div>
              -->
              </div><!--end item-->