<div class="item active">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h1>Welcome</h1> <p>We are excited to share with you all the great things <b>HOPE</b> is doing across Canada and around the world. Visit us regularly to learn about our work in serving the poor and marginalized in Canada.</p>
                  </td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/1_toronto.jpg" alt="">
                  </td></tr>
                </table>
                <!--
                <div class="carousel-caption">
                  <h4>Walkathon in Toronto</h4>
                </div>-->
              </div><!--end item-->