<div class="item ">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h2>Our Chapters</h2> <p>Every chapter of HOPE <i>worldwide</i> of Canada has something special to bring hope and change lives in our communities. <a class="btn btn-primary btn-small" href="/pages/chapters/">Learn more &raquo;</a></p>
                    <p></p></td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/2_montreal.jpg" alt="">
                  </td></tr>
                </table>
                <div class="carousel-caption">
                  <h4>Bags collection for school aged children</h4>
                </div>
              </div><!--end item-->