<div id="footer">
  <p class="pull-right"><a href="#">Back to top</a></p>

    <a href="/pages/site/privacy_policy.html">Privacy Policy</a> .
    <a href="/pages/site/terms_of_use.html">Terms of Use</a>.
    <a href="/pages/aboutus/contact_us.html">Contact Us</a>.

    <a href="{{ site.social-media-presence.facebook }}">
      <img src="{{ ASSET_PATH }}/images/icons/facebook_128x128.png" alt="" width="90" height="90"></a>
        
    <a href="{{ site.social-media-presence.twitter }}">
      <img src="{{ ASSET_PATH }}/images/icons/twitter_128x128.png" alt="" width="90" height="90"></a>

</div>