<footer>
  <p><br /></p>
  <hr />
  <div align="center">
    <p class="pull-right"><a href="#">Back to top</a> &#160; &#160;</p>
    
    <a href="/pages/site/privacy_policy.html">Privacy Policy</a> . &#160;
    <a href="/pages/site/terms_of_use.html">Terms of Use</a>. &#160;
    <a href="/pages/aboutus/contact_us.html">Contact Us</a>. &#160;
    <a href="{{ site.social-media-presence.canadianchurches }}" title="Candian Churches of Christ">
      <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/maple.png" alt="Candian Churches of Christ" ></a><a href="{{ site.social-media-presence.canadahelps }}"></a> &#160;
    <a href="{{ site.social-media-presence.canadahelps }}" title="Donate Now">
      <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/glyphicons_069_gift.png" alt="Donate" ></a> &#160;
    <a href="{{ site.social-media-presence.hopeww }}" title="HOPE worldwide">
      <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/globe_sm.png" alt="HOPE worldwide" ></a> &#160;
    <a href="{{ site.social-media-presence.facebook }}" title="Like Us on Facebook">
      <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/glyphicons_390_facebook.png" alt="Like Us on Facebook" ></a> &#160;  
    <a href="{{ site.social-media-presence.twitter }}"  title="Follow Us on Twitter">
      <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/glyphicons_392_twitter.png" alt="Twitter" ></a> &#160;
    <a href="atom.xml" title="Subscribe on RSS">
      <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/glyphicons_397_rss.png" alt="RSS" ></a>
  </div>
  <p><br /></p>
</footer>
