<div>
  <p><br /></p>
  <hr />

  <div class="row-fluid" >
    

    <div id="foot" class="span11" align="right">
      <script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
      <script>
      new TWTR.Widget({
        version: 2,
        type: 'search',
        search: 'hopeworldwide',
        interval: 30000,
        title: '',
        subject: '',
        width: '250',
        height: 50,
        theme: {
          shell: {
            background: 'silver',
            color: '#ffffff'
          },
          tweets: {
            background: '#f5f5f5',
            color: '#444444',
            links: '#b31919'
          }
        },
        features: {
          scrollbar: false,
          loop: true,
          live: true,
          behavior: 'default'
        }
      }).render().start();
      </script>
      <br />
    </div>

    <div class="span1" id="foot"  align="left" >
      <p  class="pull-right" style="font-size: smaller;"><a href="#">Back to top</a> &#160; &#160;</p>
      <p><br /><br /><p>
      &#160;<a href="/pages/site/privacy_policy.html">Privacy Policy</a><br />
      &#160;<a href="/pages/site/terms_of_use.html">Terms of Use</a><br />
      &#160;<a href="/pages/aboutus/contact_us.html">Contact Us</a>
      <p>
      
      <a href="{{ site.social-media-presence.canadianchurches }}" title="Candian Churches of Christ">
        <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/maple.png" alt="Candian Churches of Christ" ></a>
      &#160;<a href="{{ site.social-media-presence.canadahelps }}" title="Donate Now">
        <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/glyphicons_069_gift.png" alt="Donate" ></a> 
      &#160;<a href="{{ site.social-media-presence.hopeww }}" title="HOPE worldwide">
        <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/globe_sm.png" alt="HOPE worldwide" ></a>

        <p>

      <a href="{{ site.social-media-presence.facebook }}" title="Like Us on Facebook">
        <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/glyphicons_390_facebook.png" alt="Like Us on Facebook" ></a>
      &#160;<a href="{{ site.social-media-presence.twitter }}"  title="Follow Us on Twitter">
        <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/glyphicons_392_twitter.png" alt="Twitter" ></a> 
      &#160;<a href="/atom.xml" title="Subscribe on RSS">
        <img height=16 width=16 src="{{ ASSET_PATH }}/images/icons/glyphicons_397_rss.png" alt="RSS" ></a>

    </div>
  </div>
</div>
