 <div class="span4">
              <h2>Upcoming Events</h2>
              <p><a  href="/pages/news/events_cal.html" ><img align="center" src="{{ ASSET_PATH }}/images/icons/6_upcoming_events.jpg" onload="cvi_glossy.add(this,{radius:33,nogradient:true,noshadow:true,angle:50});" ></a><br /><h5>Easter Events</h5>Check out our Easter events across Canada...  </p>
              <p><a class="btn btn-primary" href="/pages/news/events_cal.html" >View details &raquo;</a></p>
            </div><!--/span-->