<div class="span4">
              <h2>Donate Now</h2>
              <p>
              <a href="{{ site.social-media-presence.canadahelps }}">
                <img  src="{{ ASSET_PATH }}/images/icons/highvalue2.jpg" align="center" alt="" 
                      onload="cvi_glossy.add(this,{radius:33,nogradient:true,noshadow:true,angle:50});" >
              </a></p>
              <p><a class="btn btn-primary" href="{{ site.social-media-presence.canadahelps }}">View details &raquo;</a></p>
            </div>