<head>
  <meta charset="utf-8">
  <title>HOPE worldwide of Canada</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- atom -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="atom.xml" />
  

  <!-- Le styles -->
  <link href="{{ ASSET_PATH }}/bootstrap/css/custom.css" rel="stylesheet">
  <link href="{{ ASSET_PATH }}/bootstrap/css/customized.bootstrap.css" rel="stylesheet">
  <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="{{ ASSET_PATH }}/bootstrap/css/font-awesome.css" rel="stylesheet">

  <script src="{{ ASSET_PATH }}/bootstrap/js/jquery.min.js"></script>
  <script type="text/javascript">
    //just a quick example, in no way pretty code.
    
    $(document).ready(function() {
      $('form#search').button().submit(function() {
        // only do a search if user entered a keyword in the search box
        if($.trim($('input#query').val())!=""){
          search($('input#query').val());
        }
        return false;
      }); 
      $('#clear_search').click(function(){
        $('input#query').val("");
        $('div#results').empty();
      });
    });

    function create_heading(){
      $('div#results').empty();
      $('div#results').append("<div class='modal-header'><a class='close' data-dismiss='modal'>x</a><h1 id='results'>Search results</h1></div><div class='modal-body' id='results_body'>");
    }
    function create_footer(){
      $('div#results').append("<br /></div><div class='modal-footer'><a href='' class='btn' data-dismiss='modal' >Close</a></div>");
    }
    function search(query) {
      //Try searching for 'Python', 'Hyde', 'Linux'.
      //var result = $.getJSON('http://hopewwc.api.houndsleuth.com/v1/indexes/HOPEWW/search?q=' + encodeURIComponent(query) + '&fetch=title&snippet=text&callback=?', function(data) {
      var result = $.getJSON('http://txje.api.indextank.com/v1/indexes/HOPE_WorldWide_of_Canada/search?q=' + encodeURIComponent(query) + '&fetch=title&snippet=text&callback=?', function(data) {
      create_heading();
      var cnt = 0;
      $.each(data.results, function(index, result) {
        $('#results_body').append('<div id="result">\
            <br /><p><a href="' + result.docid + '">' + result.docid + '</a><br/>\
            ' + result.snippet_text + '</p>\
        </div>')
          // alert(result.snippet_text);
        cnt +=1;
      });
      if(cnt==0){
        $('#results').append(" Found 0 results.");
      }
      create_footer();
      $("#results").modal({show:true});
    });
  }
  </script>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
</head>