<head>
  <meta charset="utf-8">
  <title>HOPE worldwide of Canada</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  
  <!-- Le styles -->
  <link href="{{ ASSET_PATH }}/bootstrap/css/custom.css" rel="stylesheet">
  <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
  <link href="{{ ASSET_PATH }}/bootstrap/css/font-awesome.css" rel="stylesheet">

  <script src="{{ ASSET_PATH }}/bootstrap/js/jquery.min.js"></script>
  <script type="text/javascript">
    //just a quick example, in no way pretty code.
    
    $(document).ready(function() {
      $('form#search').submit(function() {
          search($('input#query').val());
        return false;
      }); 


    });


    function search(query) {
      //Try searching for 'Python', 'Hyde', 'Linux'.
      //var result = $.getJSON('http://hopewwc.api.houndsleuth.com/v1/indexes/HOPEWW/search?q=' + encodeURIComponent(query) + '&fetch=title&snippet=text&callback=?', function(data) {
      var result = $.getJSON('http://txje.api.indextank.com/v1/indexes/HOPE_WorldWide_of_Canada/search?q=' + encodeURIComponent(query) + '&fetch=title&snippet=text&callback=?', function(data) {
        $('div#results').empty();
       // $('div#results').append("<h3>Search results</h3>");
        $.each(data.results, function(index, result) {
          $('div#results').append('<div id="result">\
              <p><a href="' + result.docid + '">' + result.docid + '</a><br/>\
              ' + result.snippet_text + '</p>\
          </div')
          // alert(result.snippet_text);
        });
      });
    }
  </script>
  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
</head>