<div class="navbar">
  <div class="navbar-inner" >
    <div class="container" >
      <a class="brand" href="{{ HOME_PATH }}">
        {{ site.title }}
      </a>
      <ul class="nav">
        <li class="dropdown">
          <a href="/pages/aboutus/index.html" class="dropdown-toggle" data-toggle="dropdown">About Us<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/pages/aboutus/our_partners.html">Our Partners</a></li>
            <li><a href="/pages/aboutus/testimonials.html">Testimonials</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="/pages/chapters/index.html" class="dropdown-toggle" data-toggle="dropdown">Chapters<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/pages/chapters/toronto">Toronto</a></li>
            <li><a href="/pages/chapters/montreal/en">Quebec - Montreal (En)</a></li>
            <li><a href="/pages/chapters/montreal/fr">Québec - Montreal (Fr)</a></li>
            <li><a href="/pages/chapters/winnipeg">Winnipeg</a></li>
            <li><a href="/pages/chapters/vancouver">Vancouver</a></li>
            <li><a href="/pages/chapters/edmonton">Edmonton</a></li>
            <li><a href="/pages/chapters/halifax">Halifax</a></li>
            <li><a href="/pages/chapters/hamilton">Hamilton</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Our Work<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/pages/work/international">International Relief</a></li>
            <li><a href="/pages/work/youthcorp">HOPE Youth Corps</a></li>
            <li><a href="https://www.hopeww.org/sslpage.aspx" rel="External Link" ><icon class="icon-external-link"></icon> &#160;HOPE Worldwide Main Site</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">News<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/pages/news/events.html">Events</a></li>
            <li><a href="/pages/news/events_cal.html" class="icon-calendar">&#160;Event Calendar</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="" class="dropdown-toggle" data-toggle="dropdown">Support Us<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="/pages/outreach/volunteer.html" class="icon-trophy">&#160;Volunteer</a></li>
            <li><a href="/pages/outreach/fundraise.html" class="icon-gift">&#160;Fundraise / Donate</a></li>
            <li><a href="/pages/outreach/share.html" class="icon-comment">&#160;Share</a></li>
            <li><a href="/pages/outreach/newsletter.html" class="icon-book">&#160;Newsletter</a></li>
          </ul>
        </li>            
      </ul>
      <form id="search" class="navbar-search pull-left" >
        <input type="text" id="query" name="query" class="search-query span2" placeholder="Search" title="Search"/>

        <!--<button class="btn" data-toggle="button">Search <i class="icon-search"></i></button>-->
        <!--<input type="submit" value="search" id="submit"/>-->
        <!--
        <input type="submit" data-toggle="modal" data-target="#myModal" class="btn btn-primary btn-small icon-search"  />
      -->
        <!--
      -->
        <!--
        <a  data-toggle="modal" href="#myModal" class="btn btn-primary btn-small icon-search"  />
      -->
      </form>
      &#160;
        <a data-toggle="modal" href="#results" class="btn btn-primary" title="search"><icon class="icon-search"></icon></a>
        <!--
        <a   class="btn btn-primary  " id="clear_search" >clear</button>
        -->
    </div>
  </div>
</div>