<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Newsletter template</title>
</head>

<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" bgcolor="#efefef">
<style type="text/css">
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
</style>

<table width="100%" cellpadding="0" cellspacing="0" bgcolor="#efefef" style="padding: 20px 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#727272;">
  <tr>
    <td align="center">
			<table width="570" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
				<tr>
					<td>
					  <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-01.gif" width="3" height="3" alt=""></td>
                <td><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/w.gif" width="1" height="1" alt=""></td>
                <td width="165" bgcolor="#CB0000"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/r.gif" width="1" height="1" alt=""></td>
                <td width="10" align="right"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-02.gif" width="3" height="3"></td>
              </tr>
            </table>
					</td>
				</tr>
				<tr>
				  <td>
				    <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td rowspan="2" style="padding: 27px 0 0 10px;" align="left" valign="top">
                	<a href="#"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/logo.gif" width="154" height="32" alt="" border="0"></a></td>
                <td width="155" bgcolor="#CB0000" align="left" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color:#ffffff; padding: 35px 0 22px 10px;"><strong>May 2008</strong></td>
                <td width="10" rowspan="2">&nbsp;</td>
              </tr>
              <tr>
                <td bgcolor="#CB0000" height="1"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-03.gif" width="165" height="1" alt=""></td>
              </tr>
            </table>
				  </td>
			  </tr>
				<tr>
				  <td style="padding: 5px 10px 5px 10px;">
				    <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" style="padding: 0 10px 0 0;" width="375"><a href="#"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/img1.gif" width="375" height="87" alt="" border="0"></a></td>
                <td style="padding:0 0 0 10px;" align="left">
                  <table width="100%" cellspacing="0" cellpadding="0" style="font-size: 12px;">
					<tr>
						<td width="10"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-04.gif" alt="" width="5" height="5"></td>
						<td><a href="[SHOWEMAIL]" style="color:#B54646;">Web Version</a></td>
					</tr>
					<tr>
						<td width="10"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-04.gif" alt="" width="5" height="5"></td>
						<td><a href="[UNSUBSCRIBE]" style="color:#B54646;">Unsubscribe</a></td>
					</tr>
					<tr>
						<td width="10"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-04.gif" alt="" width="5" height="5"></td>
						<td><a href="[SUBSCRIBE]" style="color:#B54646;">Subscribe</a></td>
					</tr>
					<tr>
						<td width="10"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-04.gif" alt="" width="5" height="5"></td>
						<td><a href="[FORWARD]" style="color:#B54646;">Forward to a friend</a></td>
					</tr>
				</table>
                </td>
              </tr>
            </table>
				  </td>
			  </tr>
				<tr>
				  <td style="padding: 5px 0 0 10px;">
				    <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td style="padding: 0 10px 0 0;" width="375" valign="top">
                  <table width="100%" cellspacing="0" cellpadding="0" style="padding: 0 0 20px 0">
                    <tr>
                      <td width="125" style="padding: 0 10px 0 0;" valign="top"><a href="#"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/img2.gif" width="125" height="95" alt="Right-click here to download pictures. To help protect your privacy, Outlook prevented automatic download  of this picture from the Internet." border="0"></a></td>
                      <td valign="top" align="left">
												<div style="font-size:14px; color:#3E7F41;"><strong>Ut wisi enim ad minim veniam</strong></div>
												Ut wisi enim ad minim veniam, quis
												nostrud exerci tation ullamcorper suscipit
												lobortis nisl ut aliquip ex ea commodo
												consequat. Duis autem vel eum iriure.<br>
												<a href="#" style="color:#3E7F41;">View details >>></a>											</td>
                    </tr>
                  </table>
									<table width="100%" cellspacing="0" cellpadding="0" style="padding: 0 0 20px 0">
                    <tr>
                      <td width="125" style="padding: 0 10px 0 0;" valign="top"><a href="#"><img src="img/img2.gif" width="125" height="95" alt="Right-click here to download pictures. To help protect your privacy, Outlook prevented automatic download  of this picture from the Internet." border="0"></a></td>
                      <td valign="top" align="left">
												<div style="font-size:14px; color:#3E7F41;"><strong>Nam liber tempor</strong></div>
												Nam liber tempor cum soluta nobis 
												eleifend option congue nihil imperdiet 
												doming id quod mazim placerat facer 
												possim assum.<br>
												<a href="#" style="color:#3E7F41;">View details >>></a>											</td>
                    </tr>
                  </table>
									<table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="125" style="padding: 0 10px 0 0;" valign="top"><a href="#"><img src="img/img2.gif" width="125" height="95" alt="Right-click here to download pictures. To help protect your privacy, Outlook prevented automatic download  of this picture from the Internet." border="0"></a></td>
                      <td valign="top" align="left">
												<div style="font-size:14px; color:#3E7F41;"><strong>Duis autem vel eum iriure</strong></div>
												Duis autem vel eum iriure dolor in 
												hendrerit in vulputate velit esse molestie
												consequat, vel illum dolore eu feugiat
												nulla facilisis.<br>
												<a href="#" style="color:#3E7F41;">View details >>></a>											</td>
                    </tr>
                  </table>
                </td>
                <td valign="top">
                  <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                      <td bgcolor="#CB0000">
												<table width="100%" cellspacing="0" cellpadding="0">
													<tr>
														<td width="10" align="left"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-05.gif" width="1" height="21" alt=""></td>
														<td style="font-size:13px; font-family: Verdana, Arial, Helvetica, sans-serif; color:#ffffff;" align="left"><strong>Latest news</strong></td>
													</tr>
												</table>
											</td>
                    </tr>
                    <tr>
                      <td style="padding: 0 10px 0 10px; color:#262626; font-size:11px;">
                        <table width="100%" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="left" style="padding: 15px 0 0 0;">
															<strong>Lorem ipsum</strong><br>
															Lorem ipsum dolor sit amet, 
															consetetur sadipscing elitr, 
															sed diam nonumy eirmod 
															tempor invidunt ut labore.<br>
															<a href="#" style="color:#C92929;">Read more >>></a>
															<hr size="1" color="#C92929">
														</td>
                          </tr>
                          <tr>
                            <td align="left" style="padding: 10px 0 0 0;">
															<strong>At vero et accusam</strong><br>
															At vero eos et accusam et 
															justo duo dolores et ea rebum. 
															Stet clita kasd gubergren, no 
															sea takimata sanctus est L
															orem ipsum dolor sit amet.<br>
															<a href="#" style="color:#C92929;">Read more >>></a>
															<hr size="1" color="#C92929">
														</td>
                          </tr>
                          <tr>
                            <td align="left" style="padding: 10px 0 0 0;">
															<strong>Duis autem</strong><br>
															Duis autem vel eum iriure
															dolor in hendrerit in vulputate
															velit esse molestie consequat.<br>
															<a href="#" style="color:#C92929;">Read more >>></a>														</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
				  </td>
			  </tr>
				<tr>
				  <td style="padding:25px 10px 0 10px; font-size:11px;">
				    <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td bgcolor="#9BB092"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-06.gif" width="1" height="3" alt=""></td>
              </tr>
              <tr>
                <td style="padding: 10px 0 5px 0;" align="left">
									<span style="color:#737373;">
										Your Company Name, Your full address will be here.<br>
										<a href="#" style="color:#C92929;">Anti-spam policy</a> | <a href="#" style="color:#C92929;">Privacy policy</a></span>
									<hr size="1" color="#dcdcdc">
									<span style="color:#929292;">
										To ensure you receive our montly newsletter, make sure you add <a href="#"  style="color:#3E7F41;">contact@yourcompany.com</a> to your 
										address book. If you prefer not to receive future email from the Your Company Name, please 
										<a href="[UNSUBSCRIBE]"  style="color:#3E7F41;">unsubscribe here</a>.									</span>								</td>
              </tr>
            </table>
				  </td>
			  </tr>
				<tr>
				  <td>
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td width="3"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-07.gif" width="3" height="3" alt=""></td>
								<td><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/w.gif" width="1" height="1" alt=""></td>
								<td width="3"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-08.gif" width="3" height="3" alt=""></td>
							</tr>
						</table>
					</td>
			  </tr>
			</table>
		</td>
  </tr>
</table>
</body>
</html>
