<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<!--
  (c) HOPE worldwide of Canada 
      ___           ___           ___         ___     
     /__/\         /  /\         /  /\       /  /\    
     \  \:\       /  /::\       /  /::\     /  /:/_   
      \__\:\     /  /:/\:\     /  /:/\:\   /  /:/ /\  
  ___ /  /::\   /  /:/  \:\   /  /:/~/:/  /  /:/ /:/_ 
 /__/\  /:/\:\ /__/:/ \__\:\ /__/:/ /:/  /__/:/ /:/ /\
 \  \:\/:/__\/ \  \:\ /  /:/ \  \:\/:/   \  \:\/:/ /:/
  \  \::/       \  \:\  /:/   \  \::/     \  \::/ /:/ 
   \  \:\        \  \:\/:/     \  \:\      \  \:\/:/  
    \  \:\        \  \::/       \  \:\      \  \::/   
     \__\/         \__\/         \__\/       \__\/    
-->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>{{page.title}}</title>
</head>

<body topmargin="0" leftmargin="0" marginheight="0" marginwidth="0" bgcolor="#efefef">
<style type="text/css">
a {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}
</style>

<table width="100%" cellpadding="0" cellspacing="0" bgcolor="#efefef" style="padding: 20px 0 0 0; font-family:Arial, Helvetica, sans-serif; font-size:13px; color:#727272;">
  <tr>
    <td align="center">
			<table width="570" cellpadding="0" cellspacing="0" bgcolor="#ffffff">
				<tr>
					<td>
					  <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td width="3"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-01.gif" width="3" height="3" alt=""></td>
                <td><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/w.gif" width="1" height="1" alt=""></td>
                <td width="165" bgcolor="#CB0000"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/r.gif" width="1" height="1" alt=""></td>
                <td width="10" align="right"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-02.gif" width="3" height="3"></td>
              </tr>
            </table>
					</td>
				</tr>
				<tr>
				  <td>
				    <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td rowspan="2" style="padding: 5px 0 0 10px;" align="left" valign="top">
                	<a href="{{site.production_url}}"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/hopewwc_logo.png"  alt="Click here to go to HOPE worldwide of Canada home page." border="0"></a></td>
                <td width="155" bgcolor="#CB0000" align="left" style="font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 16px; color:#ffffff; padding: 35px 0 22px 10px;"><strong>{{page.published_date}}</strong></td>
                <td width="10" rowspan="2">&nbsp;</td>
              </tr>
              <tr>
                <td bgcolor="#CB0000" height="1"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-03.gif" width="165" height="1" alt=""></td>
              </tr>
            </table>
				  </td>
			  </tr>
				<tr>
				  <td style="padding: 5px 10px 5px 10px;">
				    <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td align="left" style="padding: 0 10px 0 0;"><a href="#"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/marketing.jpg"  alt="" border="0"></a></td>
                <td style="padding:0 0 0 10px;" align="left">
                  <table width="100%" cellspacing="0" cellpadding="0" style="font-size: 12px;">
					<tr>
						<td width="10"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-04.gif" alt="" width="5" height="5"></td>
						<td><a href='{{site.production_url}}/{{page.tags[0]}}/{{page.date_string}}/latest_newsletter/' style="color:#B54646;">Web Version</a></td>
					</tr>
					<tr>
						<td width="10"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-04.gif" alt="" width="5" height="5"></td>
						<td><a href="http://visitor.constantcontact.com/do?p=un&mse=0015de0J6wWFJ7A6ncQCYikmZNgimqvd7vZ&t=001OEJvfA0ei3AIqIWGVTuRYg%3D%3D&llr=oxh8asdab" style="color:#B54646;">Unsubscribe</a></td>
					</tr>
					<tr>
						<td width="10">
							<img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-04.gif" alt="" width="5" height="5">
						</td>
						<td>
							<!--<a href="[SUBSCRIBE]" style="color:#B54646;">Subscribe</a>-->
						</td>
					</tr>
					<tr>
						<td width="10"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-04.gif" alt="" width="5" height="5"></td>
						<td>
							<!--<a href="[FORWARD]" style="color:#B54646;">Forward to a friend</a>-->
						</td>
					</tr>
				</table>
                </td>
              </tr>
            </table>
				  </td>
			  </tr>
				<tr>
				  <td style="padding: 5px 0 0 10px;">
				    <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td style="padding: 0 10px 0 0;" width="375" valign="top">
                  <table width="100%" cellspacing="0" cellpadding="0" style="padding: 0 0 20px 0">
                    <tr>
                      <td width="125" style="padding: 0 10px 0 0;" valign="top"><a href="#"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/{{page.large_story_1_img_lnk}}" width="125" height="95" alt="{{page.img_caption}}" border="0"></a></td>
                      <td valign="top" align="left">
						<div style="font-size:14px; color:black;"><strong>{{page.large_story_1_heading}}</strong></div>
						{{page.large_story_1_txt}}
						<br>
						<a href="{{site.production_url}}{{page.large_story_1_lnk}}" style="color:#C92929;">View details >>></a>											
					</td>
                    </tr>
                  </table>
				  <table width="100%" cellspacing="0" cellpadding="0" style="padding: 0 0 20px 0">
                    <tr>
                      <td width="125" style="padding: 0 10px 0 0;" valign="top"><a href="#"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/{{page.large_story_2_img_lnk}}" width="125" height="95" alt="{{page.img_caption}}" border="0"></a></td>
                      <td valign="top" align="left">
						<div style="font-size:14px; color:black;"><strong>{{page.large_story_2_heading}}</strong></div>
						{{page.large_story_2_txt}}
						<br>
						<a href="{{site.production_url}}{{page.large_story_2_lnk}}" style="color:#C92929;">View details >>></a>											
					</td>
                    </tr>
                  </table>
                  
				  <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                      <td width="125" style="padding: 0 10px 0 0;" valign="top"><a href="#"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/{{page.large_story_3_img_lnk}}" width="125" height="95" alt="{{page.img_caption}}" border="0"></a></td>
                      <td valign="top" align="left">
						<div style="font-size:14px; color:black;"><strong>{{page.large_story_3_heading}}</strong></div>
						{{page.large_story_3_txt}}
						<a href="{{site.production_url}}{{page.large_story_3_lnk}}" style="color:#C92929;">View details >>></a>											
					 </td>
                    </tr>
                  </table>
                </td>
                <td valign="top">
                  <table width="100%" cellspacing="0" cellpadding="0">
                    <tr>
                      <td bgcolor="#CB0000">
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td width="10" align="left"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-05.gif" width="1" height="21" alt=""></td>
								<td style="font-size:13px; font-family: Verdana, Arial, Helvetica, sans-serif; color:#ffffff;" align="left"><strong>Latest news</strong></td>
							</tr>
						</table>
					</td>
                    </tr>
                    <tr>
                      <td style="padding: 0 10px 0 10px; color:#262626; font-size:11px;">
                        <table width="100%" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="left" style="padding: 15px 0 0 0;">
								<strong>{{page.small_story_1_heading}}</strong><br>{{page.small_story_1_txt}} <br>
								<a href="{{site.production_url}}{{page.small_story_1_lnk}}" style="color:#C92929;">Read more >>></a>
								<hr size="1" color="#C92929">
							</td>
                          </tr>
                          <tr>
                            <td align="left" style="padding: 10px 0 0 0;">
								<strong>{{page.small_story_2_heading}}</strong><br>{{page.small_story_2_txt}} <br>
								<a href="{{site.production_url}}{{page.small_story_2_lnk}}" style="color:#C92929;">Read more >>></a>
								<hr size="1" color="#C92929">
							</td>
                          </tr>
                          <tr>
                            <td align="left" style="padding: 10px 0 0 0;">
								<strong>{{page.small_story_3_heading}}</strong><br>{{page.small_story_3_txt}} <br>
								<a href="{{site.production_url}}{{page.small_story_3_lnk}}" style="color:#C92929;">Read more >>></a>														
							</td>
                          </tr>
                        </table>
                      </td>
                    </tr>
                  </table>
                </td>
              </tr>
            </table>
				  </td>
			  </tr>
				<tr>
				  <td style="padding:25px 10px 0 10px; font-size:11px;">
				    <table width="100%" cellspacing="0" cellpadding="0">
              <tr>
                <td bgcolor="#9BB092"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-06.gif" width="1" height="3" alt=""></td>
              </tr>
              <tr>
                <td style="padding: 10px 0 5px 0;" align="left">
					<span style="color:#737373;">
						{{site.title}}, {{ site.headquarters-info.address }},
{{ site.headquarters-info.city }}, {{ site.headquarters-info.province }},
{{ site.headquarters-info.country }} {{ site.headquarters-info.postalcode }}.<br>
						<!--<a href="#" style="color:#C92929;">Anti-spam policy</a> |--> 
						<a href="{{site.production_url}}/pages/site/privacy_policy.html" style="color:#C92929;">Privacy policy</a>
						&#160;
						<a href="{{page.print_pdf_lnk}}" style="color:#C92929;">Print Version in PDF</a>
					</span>
					<hr size="1" color="#dcdcdc">
					<span style="color:#929292;">
						To ensure you receive our montly newsletter, make sure you add <a href="mailto:{{site.headquarters-info.departments.marcom.email}}"  style="color:black;">{{site.headquarters-info.departments.marcom.email}}</a> to your 
						address book. If you prefer not to receive future email from {{site.title}}, please 
						<a href="http://visitor.constantcontact.com/do?p=un&mse=0015de0J6wWFJ7A6ncQCYikmZNgimqvd7vZ&t=001OEJvfA0ei3AIqIWGVTuRYg%3D%3D&llr=oxh8asdab"  style="color:black;">unsubscribe here</a>. </span>
				</td>
              </tr>
            </table>
				  </td>
			  </tr>
				<tr>
				  <td>
						<table width="100%" cellspacing="0" cellpadding="0">
							<tr>
								<td width="3"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-07.gif" width="3" height="3" alt=""></td>
								<td><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/w.gif" width="1" height="1" alt=""></td>
								<td width="3"><img src="{{site.production_url}}/assets/themes/twitter/images/newsletter/i-08.gif" width="3" height="3" alt=""></td>
							</tr>
						</table>
					</td>
			  </tr>
			</table>
		</td>
  </tr>
</table>
</body>
</html>
