<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

   {% include navbar.html %}

    <div class="container-fluid">

      <div class="content">
        {{ content }}
      </div>

      <footer>
        <hr />
        <br />
       {% include foot_text.html %}
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include load_js.html %}
   
    <!-- Analytics
    ================================================== -->
  </body>
</html>

