<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.html %}
  <body>
   {% include navbar.html %}
    <div class="container-fluid">
      <div class="content">
        
        {{ content }}
      </div>

      
    </div> <!-- /container -->
    {% include foot_text.html %}

    {% include JB/analytics %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include load_js.html %}
   
    <!-- Analytics
    ================================================== -->
  </body>
</html>

