<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.html %}
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    {% include navbar.html %}
    
    <div id="results" class="modal hide fade in" style="display: none; "></div>
    <div id="results_spacing"></div>

    <div class="container">
      <div class="row-fluid">
        <div class="span2">
          <img src="{{ ASSET_PATH }}/images/icons/hopewwc_logo2.png">
        </div>

        <div class="span10">
          <div class="hero-unit">
            <div id="myCarousel" class="carousel slide">
              <div class="carousel-inner">
                {% include car_item1.html %}
                {% include car_item2.html %}
                {% include car_item3.html %}
                {% include car_item4.html %}
              </div>
              {% include car_control.html %}
            </div><!-- end myCarousel -->
          </div><!-- end hero-unit -->
        </div><!-- end span11 -->
      </div><!-- end row-fluid -->

      <div class="row-fluid">
        {% include fp_1.html %}
        {% include fp_2.html %}
        {% include fp_3.html %}
      </div><!--/row-->
      <div class="row-fluid">
        {% include fp_4.html %}  
        {% include fp_5.html %}  
        {% include fp_6.html %}  
      </div>

       <footer>
        <p><br /></p>
        <p><br /></p>
        <div align="center">
        {% include foot_text.html %}
        </div>
      </footer>

    </div><!-- .container-->


    {% include JB/analytics %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include load_js.html %}
    
    <!-- Analytics
    ================================================== -->
  </body>
</html>
