<!DOCTYPE html>
<html lang="en" class="no-js">

  {% include head.html %}

  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    {% include navbar.html %}

    <div class="container-fluid">
      <div class="row-fluid">

        <div class="container">
          <div id="results" class="modal hide fade in" style="display: none; "></div>
          <div id="results_spacing"></div>
          <div class="hero-unit">
           <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h1>Welcome</h1> <p>We are excited to share with you all the great things HOPE is doing across Canada and around the world. Visit us regularly to learn about our work in serving the poor and marginalized in Canada.</p>
                  </td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/1_toronto.jpg" alt="">
                  </td></tr>
                </table>
                <div class="carousel-caption">
                  <h4>Walkathon in Toronto</h4>
                </div>
              </div><!--end item-->
              <div class="item ">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h2>Our Chapters</h2> <p>Every chapter of HOPE <i>worldwide</i> of Canada has something special to bring hope and change lives in our communities. <a class="btn btn-primary btn-small" href="/pages/chapters/">Learn more &raquo;</a></p>
                    <p></p></td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/2_montreal.jpg" alt="">
                  </td></tr>
                </table>
                <div class="carousel-caption">
                  <h4>Bags collection for school aged children</h4>
                </div>
              </div><!--end item-->
              <div class="item ">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h2>Global Outreach</h2> <p>Our work across the world  touches lives beyond our native land. Read about our various projects and initiatives happening around the world. <a class="btn btn-primary btn-small" href="/pages/work/international/">Learn more &raquo;</a></p>
                    <p></p></td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/3_global.jpg" alt="">
                  </td></tr>
                </table>
                <div class="carousel-caption">
                  <h4>Medical equipment donation</h4>
                </div>
              </div><!--end item-->
              <div class="item ">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h2>HOPE Youth Corp</h2> <p>Two of our teen volunteered with HOPE Youth Corps in America over the summer. Read about their adventures in Texas & Philadelphia. <a class="btn btn-primary btn-small" href="/pages/work/youthcorp/">Learn more &raquo;</a></p>
                    <p><br /></p></td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/4_hope_yc.png" alt="">
                  </td></tr>
                </table>
                <div class="carousel-caption">
                  <h4>After we came back from HOPE Youth Corp</h4>
                </div>
              </div><!--end item-->
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>International Relief</h2>
              <p><img src="{{ ASSET_PATH }}/images/frontpage/4_international_phillipns.jpg"><br /><h5>International Relief Assistance</h5>Philippines Update ...</p>
              <p><a class="btn btn-primary"  href="/pages/work/international/">View details &raquo;</a></p>
            </div><!--/span-->

             <div class="span4">
              <h2>Canada News</h2>
              <p><img src="{{ ASSET_PATH }}/images/frontpage/5_chapter_integration.jpg"><br /><h5>Our Chapters</h5>"A small group of thoughtful...</p>
              <p><a class="btn btn-primary" href="/pages/chapters/">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Upcoming Events</h2>
              <p><img src="{{ ASSET_PATH }}/images/frontpage/6_upcoming_events.jpg"><br /><h5>Easter Events</h5>Check out our Easter events across Canada...  </p>
              <p><a class="btn btn-primary" href="/pages/news/events_cal.html" >View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span4">
              <h2>News</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis  </p>
              <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
              <h2>Donate Now</h2>
              <p>
              <a href="{{ site.social-media-presence.canadahelps }}">
                <img  src="{{ ASSET_PATH }}/images/icons/highvalue2.jpg" alt="" 
                      onload="cvi_glossy.add(this,{radius:33,nogradient:true,noshadow:true,angle:50});" >
              </a></p>
              <p><a class="btn btn-primary" href="{{ site.social-media-presence.canadahelps }}">View details &raquo;</a></p>
            </div>
            <div class="span4">
              <h2>Get Involved</h2>
              <p>
                <a href="/pages/outreach/volunteer.html"><img src="{{ ASSET_PATH }}/images/icons/getinvolved_sm.jpg" onload="cvi_glossy.add(this,{radius:33,nogradient:true,noshadow:true,angle:50});"/></a>
              </p>
              <p><a class="btn btn-primary" href="/pages/outreach/volunteer.html">View details &raquo;</a></p>
            </div>
          </div>
      </div><!--/span-->
      </div><!--/row-->   
      <hr> 
      
      <hr> 
    </div><!--/.fluid-container-->
    {% include JB/analytics %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include load_js.html %}
    
    <!-- Analytics
    ================================================== -->
  </body>
</html>
