<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.html %}
  <body data-spy="scroll" data-target=".subnav" data-offset="50">
    {% include navbar.html %}
    
    <div id="results" class="modal hide fade in" style="display: none; "></div>
    <div id="results_spacing"></div>

    <div class="container">

      <div class="row-fluid">

        <div class="span1">
          <img src="{{ ASSET_PATH }}/images/icons/hopewwc_logo.png">
        </div>

        <div class="span11">
          <div class="hero-unit">
            <div id="myCarousel" class="carousel slide">
              <div class="carousel-inner">
                {% include car_item1.html %}
                {% include car_item2.html %}
                {% include car_item3.html %}
                {% include car_item4.html %}
              </div>
              {% include car_control.html %}
            </div><!-- end myCarousel -->
          </div><!-- end hero-unit -->
        </div><!-- end span11 -->
      </div><!-- end row-fluid -->

      <div class="row-fluid">
            <div class="span4">
              <h2>International Relief</h2>
              <p><img src="{{ ASSET_PATH }}/images/frontpage/4_international_phillipns.jpg"><br /><h5>International Relief Assistance</h5>Philippines Update ...</p>
              <p><a class="btn btn-primary"  href="/pages/work/international/">View details &raquo;</a></p>
            </div><!--/span-->

             <div class="span4">
              <h2>Canada News</h2>
              <p><img src="{{ ASSET_PATH }}/images/frontpage/5_chapter_integration.jpg"><br /><h5>Our Chapters</h5>"A small group of thoughtful...</p>
              <p><a class="btn btn-primary" href="/pages/chapters/">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Upcoming Events</h2>
              <p><img src="{{ ASSET_PATH }}/images/frontpage/6_upcoming_events.jpg"><br /><h5>Easter Events</h5>Check out our Easter events across Canada...  </p>
              <p><a class="btn btn-primary" href="/pages/news/events_cal.html" >View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->

          <div class="row-fluid">
            <div class="span4">
              <h2>News</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis  </p>
              <p><a class="btn btn-primary" href="#">View details &raquo;</a></p>
            </div>
            <div class="span4">
              <h2>Donate Now</h2>
              <p>
              <a href="{{ site.social-media-presence.canadahelps }}">
                <img  src="{{ ASSET_PATH }}/images/icons/highvalue2.jpg" alt="" 
                      onload="cvi_glossy.add(this,{radius:33,nogradient:true,noshadow:true,angle:50});" >
              </a></p>
              <p><a class="btn btn-primary" href="{{ site.social-media-presence.canadahelps }}">View details &raquo;</a></p>
            </div>
            <div class="span4">
              <h2>Get Involved</h2>
              <p>
                <a href="/pages/outreach/volunteer.html"><img src="{{ ASSET_PATH }}/images/icons/getinvolved_sm.jpg" onload="cvi_glossy.add(this,{radius:33,nogradient:true,noshadow:true,angle:50});"/></a>
              </p>
              <p><a class="btn btn-primary" href="/pages/outreach/volunteer.html">View details &raquo;</a></p>
            </div>
          </div>
      <hr> 
    </div><!--/.fluid-container-->
    {% include JB/analytics %}

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include load_js.html %}
    
    <!-- Analytics
    ================================================== -->
  </body>
</html>
