<!DOCTYPE html>
<!--
   _____ _    _          _ _         _                 _       ___
  |_   _| |  |/         | | |       | |               | |     |_  |
    | | | |_ ___    __ _| | |   __ _| |__   ___  _   _| |_      | | ___  ___ _   _ ___
    | | | __/ __|  / _` | | |  / _` | '_ \ / _ \| | | | __|     | |/ _ \/ __| | | / __|
   _| |_| |_\__ \ | (_| | | | | (_| | |_) | (_) | |_| | |_  /\__/ /  __/\__ \ |_| \__ \
   \___/ \__|___/  \__,_|_|_|  \__,_|_.__/ \___/ \__,_|\__| \____/ \___||___/\__,_|___/
-->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>HOPE WorldWide of Canada</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
  </head>

  <body data-spy="scroll" data-target=".subnav" data-offset="50">

    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="{{ HOME_PATH }}">{{ site.title }}</a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Sidebar</li>
              <li class="active"><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li class="nav-header">Sidebar</li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li><a href="#">Link</a></li>
              <li>
                  <a href="http://www.canadahelps.org/CharityProfilePage.aspx?CharityID=d60456"><img src="{{ ASSET_PATH }}/images/icons/highvalue0.jpg" alt="" 
                    onload="cvi_glossy.add(this,{radius:50,nogradient:true,angle:-66});"
                       ></a>

              </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <!--
            <h1>Hello, world!</h1>
            <p>This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
            <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p>
          -->
           <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
              <div class="item active">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h1>Welcome</h1> <p>We are excited to share with you all the great things HOPE is doing across Canada and around the world. Visit us regularly to learn about our work in serving the poor and needy!</p>
                    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p></td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/1_toronto.jpg" alt="">
                  </td></tr>
                </table>
                <div class="carousel-caption">
                  <h4></h4>
                  <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                </div>
              </div><!--end item-->
              <div class="item ">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h1>Our Chapters</h1> <p>Every chapter of HOPE worldwide of Canada has something special to bring hope and change lives in our communities. Click on Our Chapters to find out more!</p>
                    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p></td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/2_montreal.jpg" alt="">
                  </td></tr>
                </table>
                <div class="carousel-caption">
                  <h4></h4>
                  <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                </div>
              </div><!--end item-->
              <div class="item ">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h1>Global Outreach</h1> <p>Our work touches lives beyond our native land, across the world. Read about our various projects and initiatives happening around the world.</p>
                    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p></td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/3_global.jpg" alt="">
                  </td></tr>
                </table>
                <div class="carousel-caption">
                  <h4></h4>
                  <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                </div>
              </div><!--end item-->
              <div class="item ">
                <table border=0 width="100%"><tr>
                  <td width="10%" /><td width="40%"><h1>HOPE Youth Corp</h1> <p>Over the summer, two of our teen volunteers had the opportunity to participate in HOPE Youth Corps in the United States. Read about their adventures down south in Texas & Philadelphia.</p>
                    <p><a class="btn btn-primary btn-large">Learn more &raquo;</a></p></td>
                  <td width="5%" />
                  <td width="45%" align="right">
                    <img src="{{ ASSET_PATH }}/images/frontpage/4_hope_yc.png" alt="">
                  </td></tr>
                </table>
                <div class="carousel-caption">
                  <h4></h4>
                  <!--<p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>-->
                </div>
              </div><!--end item-->
            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
            </div>
          </div>
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr> <br />

      <footer align="center">

        <p>&copy; HOPE WorldWide of Canada 2012</p>
        <table border=0 align="center">
          <tr>
            <td>
              <a href="https://www.facebook.com/pages/HOPE-worldwide-of-Canada/268997349780449">
                <img src="{{ ASSET_PATH }}/images/icons/facebook_128x128.png" alt="" width="90" height="90">  
              </a>
            </td>
            <td>
              <a href="https://twitter.com/#!/HOPEwwofCanada">
                <img src="{{ ASSET_PATH }}/images/icons/twitter_128x128.png" alt="" width="90" height="90">      
              </a>              
            </td>
            <td>
              <a href="http://www.canadahelps.org/CharityProfilePage.aspx?CharityID=d60456">
                <img src="{{ ASSET_PATH }}/images/icons/highvalue2.jpg" alt="" 
                onload="cvi_glossy.add(this,{radius:33,nogradient:true,noshadow:true,angle:50});" >
              </a>
            </td>
          </tr>
        </table>

        <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
            <div class="span4">
              <h2>Heading</h2>
              <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
              <p><a class="btn" href="#">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

        
        <!--<img src="{{ ASSET_PATH }}/images/icons/rss_128x128.png" alt="" width="45" height="45">        -->
        <!--<img src="{{ ASSET_PATH }}/images/icons/googleplus_128x128.png" alt="" width="45" height="45">-->        
        
      </footer>

    </div><!--/.fluid-container-->

    {% include JB/analytics %}


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/glossy/glossy.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/glossy/cvi_glossy_lib.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/glossy/cvi_istack_lib.js"></script>
    <!--
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/application.js"></script>
  -->
    <!-- Analytics
    ================================================== -->

  </body>
</html>
