<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

   {% include navbar.html %}

    <div class="container">
      <p><br /><p>
      <p><br /><p>
      <header class="jumbotron subhead" id="overview">
        <h1 align=center>Introduction to <b>HOPE</b> <i>worldwide</i> of Canada</h1>
        <h3 align=center>And our chapters</h3>
        <br />
        <div class="subnav">
          <ul class="nav nav-pills">
            <li><a href="#vision">Vision & Mission</a></li>
            <li><a href="#history">History</a></li>
            <li><a href="#partners">Partners</a></li>
            <li><a href="#govern">Local Chapters Governance</a></li>
            <!--<li><a href="#mgmt">Management</a></li>-->
            <li><a href="#op">Operations</a></li>
            <li><a href="#programs">Programs</a></li>
            <li><a href="#benefits">Benefits</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </div>
      </header>
      
      <div class="content">
        {{ content }}
      </div>


      <footer>
        <hr />
        <br />
        {% include foot_text.html %}
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    {% include load_js.html %}
    
    <!-- Analytics
    ================================================== -->
  </body>
</html>

