<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    {% if page.description %}<meta name="description" content="{{ page.description }}">{% endif %}
    <meta name="author" content="{{ site.author.name }}">

     <!-- Le styles -->
    <link href="{{ ASSET_PATH }}/bootstrap/css/custom.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ ASSET_PATH }}/bootstrap/css/font-awesome.css" rel="stylesheet">
    
    <script src="{{ ASSET_PATH }}/bootstrap/js/jquery.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/application.js"></script>
    <script type="text/javascript">
      //just a quick example, in no way pretty code.
      
      $(document).ready(function() {
        $('form#search').button().submit(function() {
            search($('input#query').val());
          return false;
        }); 
        $('#subnav').scrollspy();
      });


      function search(query) {
        //Try searching for 'Python', 'Hyde', 'Linux'.
        //var result = $.getJSON('http://hopewwc.api.houndsleuth.com/v1/indexes/HOPEWW/search?q=' + encodeURIComponent(query) + '&fetch=title&snippet=text&callback=?', function(data) {
        var result = $.getJSON('http://txje.api.indextank.com/v1/indexes/HOPE_WorldWide_of_Canada/search?q=' + encodeURIComponent(query) + '&fetch=title&snippet=text&callback=?', function(data) {
          $('div#results').empty();
          $.each(data.results, function(index, result) {
            $('div#results').append('<div id="result">\
                <p><a href="' + result.docid + '">' + result.docid + '</a><br/>\
                ' + result.snippet_text + '</p>\
            </div')
            // alert(result.snippet_text);
          });
        });
      }
    </script>
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
  </head>

  <body>

   <div class="navbar navbar-fixed-top">
      <div class="navbar-inner" >
        <div class="container" >
          <a class="brand" href="{{ HOME_PATH }}">
            {{ site.title }}
          </a>
          <ul class="nav">
            {% assign pages_list = site.pages %}
            {% assign group = 'navigation' %}
            {% include JB/pages_list %}
          </ul>
          <form id="search" class="navbar-search pull-left" >
            <input type="text" id="query" name="query" class="search-query span2"/>
            <button class="btn" data-toggle="button">Search</button>
            <!--<input type="submit" value="search" id="submit"/>-->
          </form>
        </div>
      </div>
    </div>

    <div class="container">
      <p><br /><p>
      <p><br /><p>
      <header class="jumbotron subhead" id="overview">
        <h1>Introduction to Our Chapters</h1>
        <div class="subnav">
          <ul class="nav nav-pills">
            <li><a href="#vision">Vision & Mission</a></li>
            <li><a href="#history">History</a></li>
            <li><a href="#partners">Partners</a></li>
            <li><a href="#govern">Local Chapters Governance</a></li>
            <li><a href="#mgmt">Management</a></li>
            <li><a href="#op">Operations</a></li>
            <li><a href="#prog">Programs</a></li>
            <li><a href="#faith">Faith</a></li>
            <li><a href="#why">Why Start a HOPE Chapter</a></li>
            <li><a href="#contact">Contact Us</a></li>
          </ul>
        </div>
      </header>
      
      <div class="content">
        {{ content }}
      </div>


      <footer>
        <hr />
        <br />
        <p>&copy; {{ site.author.name }} 2012.
          Made with <a href="http://jekyllbootstrap.com" target="_blank" title="The Definitive Jekyll Blogging Framework">Jekyll Bootstrap</a>
        </p>
      </footer>

    </div> <!-- /container -->

    {% include JB/analytics %}
    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap.min.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/glossy/glossy.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/glossy/cvi_glossy_lib.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/glossy/cvi_istack_lib.js"></script>
    <!--
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-transition.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-alert.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-modal.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-tab.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-popover.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-button.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="{{ ASSET_PATH }}/bootstrap/js/bootstrap-carousel.js"></script>
  -->
    
    <!-- Analytics
    ================================================== -->
  </body>
</html>

