<div class="page-header">
  <h1>{{ page.title }} <small>{{ page.tagline }}</small></h1>
</div>


<div class="row-fluid">
  <div class="span2" >&#160;</div>
  <div class="span8" >
    <div id="results" />
  </div>
  <div class="span2" >&#160;</div>
</div>

<div class="row-fluid">
	<div class="span1" >&#160;</div>
  	<div class="span8" >
      <span id="contnentarea">
        {{ content }}
      </span>
  	</div>
  	<div class="span1" >&#160;</div>
  	<div class="span1" >&#160;</div>
  	<div class="span1" >&#160;</div>
</div>
